
:root{
    --vermelho: yellow; /*A mudança para amarelo foi feita só para testar a variavel*/
    --preta: #141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container{
    display:flex;
    flex-direction: row; /*É o default, mas tá aqui pra ilustrar*/
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/*Container de filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)),url(../src/img/watchmen-banner.jpg);
    height: 600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    text-decoration:none;
    background-color: rgba(0,0,0,.75);
    border:none;
    color: white;
    font-weight: bold;
    width: 190px;
    

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer;
    transition: .3s ease all; 
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-left: 10px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.subtitulo{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.modal {
    position: fixed;
    color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

.inf-div{
    padding: 15px;
}


.modal:target {
opacity: 1;
pointer-events: auto;
}

.modal > div {
width: 40%;
position: relative;
margin: 10% auto;
padding: 15px 20px;
background: black;
color: white;
text-align: justify;
}

.fechar {
text-decoration: none;
position: absolute;
width: 30px;
right: -15px;
top: -20px;
text-align: center;
line-height: 30px;
margin-top: 5px;
background: yellow;
border-radius: 50%;
font-size: 16px;
color: black;
}